@use '../../styles/partials/variables' as vars;

.hero {
    height: 100vh;
    background: url(/public/fantasy\ wallpaper.webp) no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.heroTitle {
    color: vars.$light-yellow;
    font-size: 60px;
    font-family: "Gabriela", serif;
    text-shadow: 0 0 20px #000;
    margin-bottom: 20px;
}

.heroSubtitle {
    color: vars.$light-yellow;
    font-size: 20px;
    font-style: oblique;
    font-family: "Noto Serif", serif;
    text-shadow: 0 0 10px #000;
    margin-bottom: 25px;
}