.container {
    max-width: 992px;
    margin: 0 auto;
}

.container-sm {
    max-width: 575px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*COLUMN RULES*/

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66%;
}