@use '../../../styles/partials/variables' as vars;

.bookSection {
    //background-color: vars.$dark-purple;
    padding: 30px;
    color: black;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.coverColumn {
    display: flex;
    justify-content: flex-end;
}

.bookCover {
    display: inline-block;
    width: 350px;
    height: auto;
    position: relative;
    animation-name: bookEntry;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes bookEntry {
    from {
        right: 0px;
    }

    to {
        right: 100px;
    }
}

.sectionTitle {
    font-family: "Gabriela", serif;
    font-size: 35px;
    margin-bottom: 7px;
    color: black;
}

.sectionSubtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}

.sectionText {
    font-size: 17px;
    margin-bottom: 25px;
}