@use '../../../styles/partials/variables' as vars;

.bookSection {
    //background-color: vars.$dark-purple;
    padding: 30px;
    color: black;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.bookCover {
    display: inline-block;
    width: 350px;
    height: auto;
}

.sectionTitle {
    font-size: 35px;
    margin-bottom: 7px;
    color: black;
}

.sectionSubtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
}

.sectionText {
    font-size: 15px;
    margin-bottom: 20px;
}