@use '../../styles/partials/variables' as vars;


.pageHeader {
    position: fixed;
    width: 100%;
    background-color: rgba(vars.$dark-purple, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.authorLogo {
    max-width: 120px;

}

.headerRow {
    justify-content: space-between;
    align-items: center;
}